<div class="overview">
    <h1>Account Information</h1>
</div>
<div class="profile-box">
<div class="p-img">

</div>
<div class="list-one">
<div class="list-head">
    <mat-icon color="primary">person_outline</mat-icon> USERNAME
</div>
<div class="list-tail">
ttd_user
</div>
</div>
<div class="list-one">
    <div class="list-head">
        <mat-icon color="primary">mail_outline</mat-icon> EMAIL
    </div>
    <div class="list-tail">
    alwayspranay@smarttrak.io
    </div>
</div>
<div class="list-one">
    <div class="list-head">
        <mat-icon color="primary">location_on_outline</mat-icon> ADDRESS
    </div>
    <div class="list-tail">
    Tirupathi,chitoor, Andra Pradesh <br><br>
    India - 300323.
    </div>
</div>
</div>