<div class="box-header">
    <div class="box">
            <div class="img-one a">

            </div>
            <h1 class="a">200 kw</h1>
            <p>Power Consumption</p>
    </div>
     <div class="box">
            <div class="img-one s">

            </div>
            <h1 class="s">21 $</h1>
            <p>Average Consumption</p>
    </div>
     <div class="box">
            <div class="img-one d">

            </div>
            <h1 class="d">21.2 Kw</h1>
            <p>Power Consumption</p>
    </div>
     <div class="box">
            <div class="img-one f">

            </div>
            <h1 class="f">2122 $</h1>
            <p>Power Consumption</p>
    </div>
</div>
<div id="chartContainer" style="height: 280px; min-width: 250px;width:430px;margin:20px auto;"></div>
<div class="my-graph-con">
        <div id="chartContainerrr" style="height: 230px; min-width: 230px;width:250px;"></div>

        <div id="chartContainerr" style="height: 230px; min-width: 230px;width:250px;"></div>
</div>
