.overview
{
margin: 0px;
}
.overview h1{
    margin: 0px;
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color:#3f51b5;
    color:white;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
}
.my-control
{
width: 300px;
margin: 10px auto;
}
.my-control mat-form-field
{
    width: 100%;
}
.my-control mat-form-field mat-label
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #000;
}
