<div class="overview">
    <h1>Overview</h1>
</div>
<form>
    <div class="my-control">
        <mat-form-field>
            <mat-label>Select Station</mat-label>
            <mat-select [(ngModel)]="selectedSubstation" (ngModelChange)="changeSubStation()" name="subValue">
                <mat-option *ngFor="let item of subSationList" [(value)]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="my-control">
        <mat-form-field>
            <mat-label>Select Device</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="subValuee">
                <mat-option *ngFor="let item of devicesList" [(value)]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>