.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }
  .my-link
  {
    display: flex;
    background-color: #3f51b5;
    align-items: center;
    margin-bottom:7px;
    border-radius: 4px;
  }
  .my-link a{
    flex: 1;
  }
  .link-icon
  {
color:#fff;
font-size: 25px;
  }
  .menu-icon
  {
    font-size: 35px;
    height: 35px;
    width: 40px;
     color: #3f51b5;
    line-height:initial!important;
  }
  .menu-iconn
  {
    font-size: 32px;
  }
  .search-icon
  {
    font-size: 22px;
    height: 22px;
    width: 22px;
     color: #3f51b5;
    line-height:initial!important;
  }
  .search-box input
  {
    outline: none;
    border: none;
    width: 250px;
    background-color: transparent;
    border-bottom: 2px solid #3f51b5;
  }
  .search-box input::placeholder
  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 13px;
    overflow: hidden;
    transition: all .6s ease;
  }
  .search-box input:focus::placeholder
  {
    transform: translateX(-100%);
  }
  .menu-iconn
  {
    font-size: 22px;
    height: 22px;
    width: 22px;
    margin-right:2px;
  }
  .menu-iconnn
  {
    font-size: 16px;
    height: 18px;
    width: 18px;
    margin-right:2px;
  }
  .mat-list-item
  {
    height: 35px!important;
    font-size: 14px;
  }
  .example-is-mobile .example-toolbar {
    position: fixed;
   
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    display: flex;
    align-items: center;
  }
  .msg-btn
  {
    margin-right: 5px;
  }
#my-toolbar
{
    height: 60px;
     background: #83a4d4;
     background: -webkit-gradient(linear, left , right, from(#fff), to(#b0d0ff));
     background: linear-gradient(to right, #fff, #d3e5ff);
}
.my-scrollbar
{

  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}
  h1.example-app-name {
    margin-left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  #side-nav
  {
    width:250px!important;
    padding: 0px 10px;
    border:none;
    box-sizing: border-box;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fff, #b0d0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fff, #b0d0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .mat-drawer-container
  {
    background-color: #fff;
  }

  
  .user-pf
  {
    display: flex;
    flex-direction: column;
  }
  .user-profile
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
  }
  .user-profile .profile-img
  {
    height: 102px;
    width: 102px;
    background-image: url(../../assets/images/user_profile.png);
    background-position: center center;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 50%;
  }
  .user-profile p
  {
    margin: 12px 0px;
  }
  .my-text
  {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #3f51b5;
  }

  .my-btn
  {
padding:0px 0px;
font-size:14px;
  }
 
  .log-out
  {
    margin-bottom: 7px;
    font-size:14px;
  }
  .log-out .my-btn
  {
    width:100%;
  }
  .main-con
  {
    height:100%;
    display:flex!important;
    flex-direction:column;
    justify-content:space-between;
  }
  .logout-icon
  {
    margin-right:10px;
    font-size:18px;
    margin-bottom:2px;
  }
  .logo-img
  {
    width:350px;
    height:100%;
    margin:0 auto;
    background-image: url(../../assets/images/ttd-logoo.png);
    background-position: center center;
    background-size: 75% 85%;
    background-repeat: no-repeat;
  }

  .top-menu
  {
    font-size: 14px!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 35px;
    line-height: 35px;
  }
  .top-menu mat-icon
  {
    font-size: 18px;
    height: 20px;
    width: 16px;
  }

  .active-link + mat-icon.link-icon
  {
    color: #ff4081!important;
  }


 .search-box
 {
   margin-right: 15px;
   display: flex;
 }